.button {
   appearance: none;

   display: flex;
   justify-content: center;
   align-items: center;
   padding: calc(0.375rem - 1px) 2rem;
   background-clip: border-box;
   border: 1px solid transparent {
      radius: 0.25rem;
   }

   &.full {
      width: 100%;
   }

   &.primary {
      color: $white;
      background-color: $gray-6;
   }
}
