.navbar {
   position: static;
   top: 0;
   z-index: 1200;
   display: flex;
   align-items: center;
   width: 100%;
   background-color: $gray-1;
   color: $color-body;
   min-height: 60px;

   &-content {
      @extend .container;
      position: relative;
      width: 100%;
      display: flex;
      margin: 0 auto;
      align-items: center;
      flex-direction: column;
      -webkit-overflow-scrolling: touch;

      @include break("md") {
         flex-direction: row;
      }
   }

   &-toggle {
      appearance: none;

      position: relative;
      width: 1.5rem;
      aspect-ratio: 1;
      border: 0;
      padding: 0;
      background: transparent;

      &-icon {
         &,
         &::before,
         &::after {
            display: block;
            position: relative;
            width: 1.5rem;
            height: 0.125rem;
            border: 0 {
               radius: 5px;
            }
            background-color: $color-body;
            color: $color-body;
            pointer-events: none;
            transition: 0.3s;
         }

         &::before {
            content: "";
            position: absolute;
            transform: translateY(-0.5rem);
         }

         &::after {
            content: "";
            position: absolute;
            transform: translateY(0.5rem);
         }
      }

      &.active &-icon {
         background-color: transparent;

         &::before {
            transform: translateY(0) rotate(45deg);
         }

         &::after {
            transform: translateY(0) rotate(-45deg);
         }
      }

      @include break("md") {
         display: none;
      }
   }

   &-brand {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      @include break("md") {
         justify-content: flex-start;
      }

      * {
         margin: 0;
      }

      &-title {
         cursor: pointer;

         img {
            display: flex;
         }
      }
   }

   &-nav {
      position: relative;
      height: max-content;
      display: flex;
      flex-direction: column;
      z-index: 1300;
      width: 100%;
      transition: 0.3s;

      @include break("md") {
         width: auto;
         margin-left: auto;
         justify-content: space-between;
         background-color: $white;
      }

      @media (max-width: 992px) {
         position: fixed;
         top: 0;
         right: -100%;
         width: auto;
         min-width: 250px;
         height: 100%;
         text-align: end;
         background-color: $gray-6;
         color: $white;

         &.active {
            right: 0;

            &::before {
               content: "";
               position: fixed;
               left: 0;
               top: 0;
               width: calc(100% - 250px);
               height: 100%;
               background-color: #00000012;
               backdrop-filter: blur(1px);
               transition: 1s;
            }
         }
      }
   }

   &-close {
      display: flex;
      align-items: center;
      justify-content: start;
      height: 60px;
      text-align: start;
      padding: 0.375rem 1rem;

      .navbar-toggle *,
      .navbar-toggle *::after,
      .navbar-toggle *::before {
         color: $white;
         background-color: $white;
      }

      @include break("md") {
         display: none;
      }
   }

   &-links {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0;
      list-style: none;
      overflow: hidden;
      padding: 0.375rem 0;

      @include break("md") {
         align-items: center;
         flex-direction: row;
      }
   }

   &-link {
      padding: .375rem 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;

      a {
         text-decoration: none;
         color: inherit;
      }

      @media (max-width: 992px) {
         &.active,
         &:hover {
            color: $gray-6;
            background-color: $gray-1;
         }
      }

      @include break("md") {
         padding: 0 1rem;

         & + & {
            border-left: 1px solid $gray-1;
         }
      }
   }
}
