.table {
   width: 100%;

   td,
   th {
      padding: 0.375rem;
   }

   tr > *:last-child {
      text-align: end;
   }

   tbody {
      tr {
         border-top: 1px solid $gray-1;
      }
   }

   tfoot {
      vertical-align: baseline;
      border-top: 0.25rem double $gray-1;
   }
}
