$gray-6: #333333;
$gray-2: #888888;
$gray-1: #979797;

$color-body: $gray-6;
$white: #ffffff;
$black: #000000;

$cols: 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1 !default;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$container-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
) !default;