.form-add {
   position: sticky;
   top: calc(60px + 2rem);
   display: flex;
   flex-direction: column;
   gap: 1rem;
   border-bottom: 1px solid $gray-1;
   padding-bottom: 2rem;

   @include break("sm") {
      padding: 1rem;
      border: 1px solid $gray-1 {
         radius: 0.25rem;
      }
   }

   h5 {
      text-align: center;
      font-weight: 600;
   }

   .row {
      row-gap: 1rem;
   }

   @media (min-width: 767.98px) and (max-width: 992px) {
      [type="submit"] {
         width: max-content;
         margin-left: auto;
      }
   }
}

.invoice {
   h5 {
      text-align: center;
      font-weight: 600;
   }
}

.table p {
   margin: 0;
}
